body,
html {
    height: 100%;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 20px;
}


.btn:hover {
    opacity: 1;
}

.heading1 {
    padding-top: 120px;
    margin-bottom: 150 px;
    padding-bottom: 50px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 40px;
}